@import '../../_variables.scss';

.timer {
    height: 70%;
    width: 11%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 29px;
    letter-spacing: 2px;
    position: relative;
    text-shadow: 0 0 5px white;
}

.pause {
    position: absolute;
    right: 20px;
}