// First attempt

// $bg: lightgrey;
// $tl: black;
// $sud-nums: rgb(97, 176, 207);
// $ch: rgb(66, 63, 94);
// $ch2: grey;
// $ch3: blue;
// $bdy: rgb(227, 235, 240); // First actually white.

// Second attempt

$bg: grey;
$tl: black;
$sud-nums: rgb(71, 132, 156);
$ch: rgb(66, 63, 94);
$ch2: grey;
$ch3: blue;
$bdy: rgb(241, 240, 240);